@import "tailwindcss";

@theme {
  /* Cores */
  --color-agro-blue: #063EB7;
  --color-agro-blue-light: #EFF6FF;
  
  --color-agro-green: #1DE434;
  --color-agro-red: #CD0505;

  /* Tipografia */
  --font-sans: 'Inter', system-ui, sans-serif;

  /* Bordas  */
  --radius-agro-card: 1.5rem;
  --radius-agro-btn: 50%;
}

/* Reset Global */
html, body {
  background-color: var(--color-agro-blue-light);
  color: #1e293b;
  font-family: var(--font-sans);
  -webkit-tap-highlight-color: transparent;
}